<aside id="left-sidebar-nav" class="nav-expanded nav-lock nav-collapsible">
                    <ul id="slide-out" class="aside side-nav fixed leftside-navigation collection with-header">
                        <li class="colection-header">
                            <h3 class="aside-heading">Виберіть предмет</h3></li>
                        <a class="collection-item">Англійська мова</a>
                        <a class="collection-item">Астрономія</a>
                        <a class="collection-item active">Aлгебра</a>
                        <a class="collection-item">Геометрія</a>
                        <a class="collection-item ">Географія</a>
                        <li class="colection-header">
                            <h3 class="aside-heading">Виберіть ваш клас</h3></li>
                        <a class="collection-item">1 клас</a>
                        <a class="collection-item">2 клас</a>
                        <a class="collection-item">3 клас</a>
                        <a class="collection-item">4 клас</a>
                        <a class="collection-item">5 клас</a>
                        <a class="collection-item">6 клас</a>
                        <a class="collection-item">7 клас</a>
                        <a class="collection-item">8 клас</a>
                        <a class="collection-item">9 клас</a>
                        <a class="collection-item">10 клас</a>
                        <a class="collection-item">11 клас</a>
                    </ul>
                </aside>