.book-details {
  margin-top: 30px;
}

.book-img {
  height: 350px;
  width: auto;
}

.book-img__wrapper {
  margin: 0 auto;
}

.detail-text, .detail {
  display: block;
}

.detail, .detail-text {
  margin: 20px 0;
}
